{{ form_start(formSearch) }}
    <style>
            /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    </style>
    <div class="hero-search-3" style="width=100%;justify-content: space-between;">
        <div class="hero-search-input second-search margin-1" style="position: relative; width:72.7%;">
            <input 
            style="width:100%; display: block; 
        border: 1px solid #d7d6d6; 
        background: #fff; 
        padding: 10px 10px 10px 10px; 
        width: 100%;"
            class="form-control form-control-sm" type="text" id='{{ formSearch.ville.vars.id }}' name='{{ formSearch.ville.vars.full_name }}' value='{{ formSearch.ville.vars.value }}' placeholder="ville" aria-label=".form-control-sm example"
            >
            {% do formSearch.ville.setRendered %}
        </div>

        <div class="hero-search-input second-search " style="width:30%;">
            <select class="form-control form-control-sm" type="select" id='{{ formSearch.type.vars.id }}' name='{{ formSearch.type.vars.full_name }}' value='{{ formSearch.type.vars.value }}' placeholder="Type de propriete" aria-label=".form-control-sm example" style="font-family: inherit; color: var(--bs-secondary-color); display: block; 
        border: 1px solid #d7d6d6; 
        background: #fff; 
        padding: 10px 10px 10px 10px; 
        width: 100%; ">
            <option value="">Choisir le type d'immeuble...</option>
            <option value="immeuble">Immeuble</option>
            <option value="maison">Maison</option>
            <option value="villa">Villa</option>
            <option value="bureaux">Bureaux</option>
            </select>
            {% do formSearch.type.setRendered %}
        </div>
    </div>
    <div class="hero-search-3" style="width=100%;justify-content: space-between;">
        <div class="hero-search-input second-search margin-1" style="position: relative; width:30%;">
        <span class="unit" style="position: absolute;
        display: block; 
        right: 5px; 
        top: 10px; 
        z-index: 9; ">Chambres</span>
            <input class="form-control form-control-sm" type="number" id='{{ formSearch.chambres.vars.id }}' name='{{ formSearch.chambres.vars.full_name }}' value='{{ formSearch.chambres.vars.value }}'placeholder="Nombre" aria-label=".form-control-sm example" autofocus="autofocus" style="display: block; 
        border: 1px solid #d7d6d6; 
        background: #fff; 
        padding: 10px 20px 10px 10px; 
        width: 100%; ">
            {% do formSearch.chambres.setRendered %}
        </div>
        
        <div class="hero-search-input second-search margin-1" style="position: relative; width:30%;">
        <span class="unit" style="position: absolute; 
        display: block; 
        right: 5px; 
        top: 10px; 
        z-index: 9; ">m²</span>
            <input class="form-control form-control-sm" type="number" id='{{ formSearch.surfaceMin.vars.id }}' name='{{ formSearch.surfaceMin.vars.full_name }}' value='{{ formSearch.surfaceMin.vars.value }}' placeholder="Surface Min" aria-label=".form-control-sm example" style="display: block; 
        border: 1px solid #d7d6d6; 
        background: #fff; 
        padding: 10px 10px 10px 20px; 
        width: 100%; ">
            {% do formSearch.surfaceMin.setRendered %}
        </div>
        
        <div class="hero-search-input second-search" style="position: relative; width:30%">
        <span class="unit" style="position: absolute; 
        display: block; 
        right: 5px; 
        top: 10px; 
        z-index: 9; ">DH</span>
            <input class="form-control form-control-sm" type="number" id='{{ formSearch.prixMax.vars.id }}' name='{{ formSearch.prixMax.vars.full_name }}' value='{{ formSearch.prixMax.vars.value }}' placeholder="Prix Max" aria-label=".form-control-sm example" autofocus="autofocus" style="display: block; 
        border: 1px solid #d7d6d6; 
        background: #fff; 
        padding: 10px 10px 10px 20px; 
        width: 100%; ">
            {% do formSearch.prixMax.setRendered %}
        </div>
    </div>
    <div class="d-grid gap-2 mx-auto hero-search-button!" style="background-color:#dd7973; margin-top: 10px;">
        <button class="btn " type="submit" style="color: white;
        font-weight: bold; "> Chercher</button>
    </div>
{{ form_end(formSearch) }}