{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>R_Date_Entree</th>
                <th>R_Nombre_Mois</th>
                <th>R_Contrat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.RDateEntree ? reservation.RDateEntree|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.RNombreMois }}</td>
                <td>{{ reservation.RContrat }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}">show</a>
                    {#<a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#<a href="{{ path('app_reservation_new') }}">Create new</a>#}
{% endblock %}
