{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>R_Date_Entree</th>
                <td>{{ reservation.RDateEntree ? reservation.RDateEntree|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>R_Nombre_Mois</th>
                <td>{{ reservation.RNombreMois }}</td>
            </tr>
            <tr>
                <th>R_Contrat</th>
                <td>{{ reservation.RContrat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    {#<a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>#}

    {# {{ include('reservation/_delete_form.html.twig') }} #}
{% endblock %}
