{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>A_Prix</th>
                <th>A_Ville</th>
                <th>A_Rue</th>
                <th>A_Num_Immo</th>
                <th>A_Etat</th>
                <th>A_Traite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.APrix }}</td>
                <td>{{ annonce.AVille }}</td>
                <td>{{ annonce.ARue }}</td>
                <td>{{ annonce.ANumImmo }}</td>
                <td>{{ annonce.AEtat }}</td>
                <td>{{ annonce.ATraite }}</td>
                <td>
                    <a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonce_new') }}">Create new</a>
{% endblock %}
