{{ form_start(form) }}
    <div class="hero-search-input margin-0">
        <input class="form-control form-control-sm" type="text" id='{{ form.aprix.vars.id }}' name='{{ form.aprix.vars.full_name }}' value='{{ form.aprix.vars.value }}' placeholder="Prix" aria-label=".form-control-sm example">
        {% do form.aprix.setRendered %}
    </div>
    <div class="hero-search-3">
        <div class="hero-search-input second-search margin-1">
            <input class="form-control form-control-sm" type="text" id='{{ form.aville.vars.id }}' name='{{ form.aville.vars.full_name }}' value='{{ form.aville.vars.value }}' placeholder="Ville" aria-label=".form-control-sm example">
            {% do form.aville.setRendered %}
        </div>
        <div class="hero-search-input second-search margin-2">
            <input class="form-control form-control-sm" type="text" id='{{ form.arue.vars.id }}' name='{{ form.arue.vars.full_name }}' value='{{ form.arue.vars.value }}' placeholder="La Rue de l'immeuble" aria-label=".form-control-sm example">
            {% do form.arue.setRendered %}
        </div>
        <div class="hero-search-input second-search margin-3">
            <input class="form-control form-control-sm" type="text" id='{{ form.anumimmo.vars.id }}' name='{{ form.anumimmo.vars.full_name }}' value='{{ form.anumimmo.vars.value }}' placeholder="la numéro de l'immeuble" aria-label=".form-control-sm example">
            {% do form.anumimmo.setRendered %}
            <input type='hidden' id='{{ form.aetat.vars.id }}' name='{{ form.aetat.vars.full_name }}' value='false'>
            {% do form.aetat.setRendered %}
            <input type='hidden' id='{{ form.atraite.vars.id }}' name='{{ form.atraite.vars.full_name }}' value='false'>
            {% do form.atraite.setRendered %}
        </div>
    </div>
    <div class="hero-search-input margin-0">
        {{ form_widget(form.acategory) }}
    </div>
    <div class="hero-search-input margin-0">
        {{ form_widget(form.aproprietaire) }}
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
