{% extends 'base.html.twig' %}

{% block title %}AAnnonce index{% endblock %}

{% block body %}
<div class='container-fluid' style='padding:none;background-color: white;'>
    <div class="Annonce-items">
        {% for a_annonce in a_annonces %}
            {% for category in categorys %}
                {% if category.id == a_annonce.acategory.id %}
                    <div {{ react_component('Card/Card',
                        {   'Category': category.catnom , 
                            'Prix': a_annonce.aprix , 
                            'Ville':a_annonce.aville , 
                            'Rue':a_annonce.arue , 
                            'NumImmo':a_annonce.anumimmo ,
                            'Bedrooms':a_annonce.bedrooms ,
                            'Bathrooms':a_annonce.bathrooms,
                            'Surface':a_annonce.Surface
                         }) }}></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Aprix</th>
                <th>Aville</th>
                <th>Arue</th>
                <th>Anumimmo</th>
                <th>Aetat</th>
                <th>Atraite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for a_annonce in a_annonces %}
            <tr>
                <td>{{ a_annonce.id }}</td>
                <td>{{ a_annonce.aprix }}</td>
                <td>{{ a_annonce.aville }}</td>
                <td>{{ a_annonce.arue }}</td>
                <td>{{ a_annonce.anumimmo }}</td>
                <td>{{ a_annonce.aetat }}</td>
                <td>{{ a_annonce.atraite }}</td>
                <td>
                    <a href="{{ path('app_annonce_show', {'id': a_annonce.id}) }}">show</a>
                    <a href="{{ path('app_annonce_edit', {'id': a_annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonce_new') }}">Create new</a>
</div>
{% endblock %}
