{% extends 'base.html.twig' %}

{% block title %}AAnnonce index{% endblock %}

{% block nav %}
{% if app.getUser() %}
{% else %}
</div>
</nav>
<div class="modal fade" id="exampleModalSeConnecter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Welcome  </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post">
                        <div class="modal-body">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                            <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                            <span>
                                vous n'avez pas de compte ? <a style="color: blue;text-decoration:underline;" href="{{ path('app_register') }}">S'inscrire</a>
                            </span>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-lg btn-primary my-2" type="submit">
                                Sign in
                            </button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}

{% block body %}
    {% if app.getUser() %}
        {% if app.getUser().getRoles()[0] == "ROLE_PROPRIETAIRE" %}
            <div class='container-fluid' style='padding:none;background-color: white;'>
                <div class="Annonce-items-Secondaire">
                    {% for a_annonce in a_annonces %}
                        {% if a_annonce.aproprietaire.getId() == app.getUser().getAProprietaire().getId() %}
                            {% set images = []  %}
                            {% for AImage in AImages %}
                                {% if AImage.iannonce.id == a_annonce.id %}
                                    {% set images= images|merge([AImage.image]) %}
                                {% endif %}
                            {% endfor %}

                            {% set deleteUrl = path('app_annonce_delete', {'id': a_annonce.id}) %}
                            {% set showUrl = path('app_annonce_show', {'id': a_annonce.id,'p':p}) %}
                            {% set editUrl = path('app_annonce_edit', {'id': a_annonce.id}) %}
                            {% set csrf_token_id = csrf_token('delete' ~ a_annonce.id)  %}
                            {{ include('a_annonce/_CardSecondaire.html.twig') }}
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    {% if searchdata is not defined %} {% set nom_path = "app_annonce_index" %} {% endif %}
                    {{ include('home/_pagination.html.twig') }}
                </div>
                {# <a href="{{ path('app_annonce_new') }}">Create new</a> #}
            </div>
        {% else %}
            <div class='container-fluid' style='padding:none;background-color: white;'>
                <div class="Annonce-items-Secondaire">
                    {% for a_annonce in a_annonces %}
                        {% set images = []  %}
                        {% for AImage in AImages %}
                            {% if AImage.iannonce.id == a_annonce.id %}
                                {% set images= images|merge([AImage.image]) %}
                            {% endif %}
                        {% endfor %}

                        {% set deleteUrl = path('app_annonce_delete', {'id': a_annonce.id}) %}
                        {% set showUrl = path('app_annonce_show', {'id': a_annonce.id,'p':p}) %}
                        {% set editUrl = path('app_annonce_edit', {'id': a_annonce.id}) %}
                        {% set csrf_token_id = csrf_token('delete' ~ a_annonce.id)  %}
                        {{ include('a_annonce/_CardTri.html.twig') }}
                    {% else %}
                        <tr>
                            <td colspan="8">no records found</td>
                        </tr>
                    {% endfor %}
                    {% if searchdata is not defined %} {% set nom_path = "app_annonce_index" %} {% endif %}
                    {{ include('home/_pagination.html.twig') }}
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class='container-fluid' style='padding:none;background-color: white;'>
            <div class="Annonce-items-Secondaire">
                {% for a_annonce in a_annonces %}
                    {% set images = []  %}
                    {% for AImage in AImages %}
                        {% if AImage.iannonce.id == a_annonce.id %}
                            {% set images= images|merge([AImage.image]) %}
                        {% endif %}
                    {% endfor %}

                    {% set deleteUrl = path('app_annonce_delete', {'id': a_annonce.id}) %}
                    {% set showUrl = path('app_annonce_show', {'id': a_annonce.id}) %}
                    {% set editUrl = path('app_annonce_edit', {'id': a_annonce.id}) %}
                    {% set csrf_token_id = csrf_token('delete' ~ a_annonce.id)  %}
                    {{ include('a_annonce/_CardSecondaire.html.twig') }}
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
                {% if searchdata is not defined %} {% set nom_path = "app_annonce_index" %} {% endif %}
                {{ include('home/_pagination.html.twig') }}
            </div>
            {# <a href="{{ path('app_annonce_new') }}">Create new</a> #}
        </div>
    {% endif %}
{% endblock %}
