{% extends 'base.html.twig' %}

{% block title %}Reserver{% endblock %}

{% block body %}
    <h1><a href="{{ path('app_resultat_home') }}" class="btn"><img src="{{ asset('uploads/icons/arrow.png') }}" alt="" srcset="" class="img-thumbnail" style="width:50px;"></a></h1>

    <table class="table">
        <tbody>
            <tr>
                <td colspan="2"><img src="{{ asset('uploads/annonce_image/' ~ a_annonce.getAImages()[0].image) }}" alt="" srcset="" class="img-thumbnail" style="width:300px;"></td>
            </tr>
            <tr>
                <th>Aprix</th>
                <td>{{ a_annonce.aprix }}</td>
            </tr>
            <tr>
                <th>Aville</th>
                <td>{{ a_annonce.aville }}</td>
            </tr>
            <tr>
                <th>Arue</th>
                <td>{{ a_annonce.arue }}</td>
            </tr>
            <tr>
                <th>Anumimmo</th>
                <td>{{ a_annonce.anumimmo }}</td>
            </tr>
            <tr>
                <th>Aetat</th>
                <td>{{ a_annonce.aetat }}</td>
            </tr>
            <tr>
                <th>Atraite</th>
                <td>{{ a_annonce.atraite }}</td>
            </tr>
            <tr>
                <td colspan="2" class="text-center"><a href="" class="btn btn-primary text-center">Reserver</a></td>
            </tr>
        </tbody>
    </table>

    <!--<a href="{{ path('app_annonce_edit', {'id': a_annonce.id}) }}">edit</a> 

    {{ include('a_annonce/_delete_form.html.twig') }} -->
{% endblock %}
