{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>{{ user.AClient.cnom ~' '~ user.AClient.cprenom  }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ user.AClient.cnom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.AClient.cprenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.AClient.ctele }}</td>
            </tr>

        </tbody>
    </table>

    {# <a href="{{ path('app_user_index') }}">back to list</a> #}

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>

    {# {{ include('user/_delete_form.html.twig') }} #}
{% endblock %}
